// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
 
}

.sentencecard{
  border-left: solid 5px rgb(199, 199, 199);
  margin: 10px;
  padding: 5px;
}

.answer{
  background-color: rgba(255, 246, 169, 0.5);
}